@use '@styles' as *;


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.75rem;

    border-radius: 8px;
    font-weight: 500;
    font-size: 0.85rem;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}


.button--back {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    color: oklch(54.6% 0.245 262.881);
    width: fit-content;
    background-color: inherit;
    margin: 0;
    justify-content: center;
    font-size: 0.95rem;
}



.button--logout {
    gap: 1rem;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    margin-top: auto;
    padding: 1rem 2rem;
    width: 100%;
    background: rgba(239, 68, 68, 0.45);
    color: #350606;
}


.button--danger {
    @extend .button;
    background: $red-600;
    color: #fff;

    &:hover {
        background: $rose-700;
        // color: #350606;
    }
}


.button--blue {
    @extend .button;
    background: $sky-600;
    color: #fff;

    &:hover {
        background: $blue-700;
        // color: #3B82F6;
    }
}


.button--purple {
    background: $violet-600;
    color: #fff;

    &:hover {
        background: $purple-700;
        // color: #8B5CF6;
    }
}