@use '@styles' as *;
@use 'sass:color';


.page {
    @include flex-container(column, center, center, 5rem);
}

.markdown {
    @include flex-container(column, $gap: 1rem);
    width: 100%;

    /*---- Heading Styles (h1, h2, h3, ...) ----------------------------*/

    h1 {
        background-color: $rose-500;
        padding: 0.5rem 1rem;
        color: $neutral-100
    }

    h2 {
        padding: 0.5rem 1rem;
        background-color: $sky-400;
        background-color: oklch(66% 0.13 258);
        color: $neutral-100
    }








    /*---- Text Styles (h1, h2, h3, ...) ----------------------------*/

    p {
        line-height: 2;
    }






    /*---- List Styles (ul, ol, li, ...) ----------------------------*/

    ol,
    ul {

        // columns: 2 200px;
        // column-gap: 2rem;
        // max-height: 500px;
        // list-style-type: disc;
        gap: 0.75rem;
        padding-left: 2rem;
    }



    li {
        display: list-item;
        list-style-position: outside;
        padding-left: 1em;
        break-inside: avoid;
        margin-bottom: 1rem;
        /* Prevent items from splitting */
        align-items: center;

    }

    li::marker {
        content: '• ';
        font-size: 1.5em;
        color: black;
    }




    /*---- Special Styles (code, pre, ...) ----------------------------*/

    code {
        font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}