.accordion {
  width: inherit;
}

.accordion-item {
  color: black;
     list-style: none;

  /* border-bottom: 1px solid #ddd; */
}

.accordion-title {

  /* padding: 1rem; */
  cursor: pointer;
  /* background-color: #f8f1f1; */
  /* font-weight: bold; */
}

.accordion-title:hover {
  background-color: #e2e2e2;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 1rem;
}

.accordion-content.open {
  padding: 1rem;
}

