header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    background-color: var(--color-acm-blue);
    padding: 0 5% 0 2%;
    color: rgba(255, 255, 255, 0.90)
}

.site-name {
    letter-spacing: 0.075rem;
}

.logo {
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

.logo__img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.navigation {
    display: flex;
    gap: 2rem;
}

.navigation-item,
.navigation-item:visited,
.navigation-item:active {
    text-decoration: none;
    color: inherit;
}

.navigation-item:hover {
    text-decoration: underline;
}