.bd-red {
    border: 1px solid red;
}

.bd-blue {
    border: 1px solid blue;
}

.bd-yellow {
    border: 1px solid yellow;
}

.bd-green {
    border: 1px solid green;
}

.bd-black {
    border: 1px solid black;
}