.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-1r {
    gap: 1rem;
}

.flx {
    display: flex;
}

.clmn {
    flex-direction: column;
}

.just-left {
    justify-content: flex-start;
}

.algn-left {
    align-items: flex-start;
}

.cntr {
    justify-content: center;
    align-items: center;
}

.centered-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

