.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #f8f9fa;
}

.dashboard__main {
    display: flex;
    width: 100%;
    flex: 1;
    height: 100%;
}


.sidebar {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: black;
    gap: 1rem;
    height: 100%;
    padding: 0 1rem;
    padding-top: 10vh;
    padding-bottom: 20vh;
}

.sidebar>nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar-item--active {
    background-color: #efefef;

    color: #005b9f;
    border-radius: 8px;

    width: 100%;
    display: flex;

    align-items: center;
    gap: 1rem;

    padding: 1rem 2rem;
    transition: background-color 0.5s ease;

    text-decoration: none;
}

.sidebar-item--active>.sidebar-item__text {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

.sidebar-item {
    border-radius: 8px;
     box-shadow: 0 -1px 25px 1px rgb(0 0 0 / 0.05);
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    transition: background-color 0.5s ease;
    text-decoration: none;

}

.sidebar-item>.sidebar-item__text {
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;

}

.sidebar-item:hover {
    cursor: pointer;
    background-color: #efefef;
}

.sidebar--collapsed {
    align-items: center;
}


.sidebar--collapsed .sidebar-item__text {
    display: none;
}


.sidebar-item__icon {
    font-size: 1rem;
}