@use '@styles' as *;


.messages {

    overflow-y: auto;
    display: block;
}

.message {
    min-height: 3rem;
    height: fit-content;
    overflow: hidden;
    border-radius: 10px;

}

.message + .message {
  margin-top: 1rem;
}

.header {

    display: grid;
    align-items: center;
    background-color: $gray-200;
    padding: 0.5rem;
    border: inherit;
    gap: 1rem;

    grid-template-columns: 1fr 2fr;

  
    h3 {
        font-size: 1rem;
        font-family: 'Montserrat';
        font-weight: 500;
    }

}

.content {
    min-height: fit-content;

    height: 100%;
    padding: 1rem 1rem;
    background-color: $slate-200;
    border: inherit;
}