.container {
    height: 100%;
    width: 100%;
    color: black;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: 2fr 1fr;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color: #fff;
}

.tree {
        display: flex;
    flex-direction: column;
    background-color: #fff;
}



.button {
        display: inline-flex;
    align-items: center;
    padding: 0.3rem 0.75rem;
    border-radius: 999px;
    font-weight: 500;
    font-size: 0.85rem;
    width: fit-content;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

}


.button--reject {
    background: rgba(239, 68, 68, 0.45);
    color: #350606;
}

.button--reject:hover {
    background: rgba(239, 68, 68, 0.80);
    color: #350606;
}



.button--start-review {
    background: rgba(59, 130, 246, 0.15);
    color: #3B82F6;
}

.button--start-review:hover {
     background: rgba(59, 130, 246, 0.80);
    color: #3B82F6;
}

.button--defer {
    background: rgba(139, 92, 246, 0.15);
    color: #8B5CF6;
}
