

.curricula-page__heading {
    position: relative;
    font-weight: normal;
    font-size: 1.5rem;
    color: rgb(11, 61, 170);
    margin-bottom: 1rem;
}

.ka {
    color:#555
}

.details__grid {
    display: grid;
    grid-template-columns: 300px;
    /* grid-template-rows: 200px; */
    gap: 1.5rem;
    max-width: 800px;
    width: 100%;
}

.card__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    max-width: 800px;
    width: 100%;
}

.card {
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: all 0.2s ease;
    padding: 1.5rem;

}


.card:hover {
    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.1);

}

.card__heading {
    font-size: 1.25rem;
    font-weight: normal;
    color: black;
    margin-bottom: 0.5rem;
}

.card__desc {
    color: #555;
}