.auth-container {
    width: 30vw;
    height: 75vh;
    padding: 20px;
}

.auth-heading {
    margin-bottom: 1.5rem;
    font-weight: 500;
    color: #000;
    font-family: "Montserrat", sans-serif;
}

.field {

    height: auto;
    width: 100%;
}

.type {
    text-decoration: underline;
    color: var(--color-acm-blue);
    cursor: pointer;
}

.auth-form {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #000;
    gap: 15px;
    height: 100%;
    width: 100%;
    padding: 60px 50px;
}

.auth-input,
.auth-bttn {
    border-radius: 8px;
    height: 40px;
    font-size: 1.15rem;
    width: 100%;
}

.auth-input {

    font-family: "Montserrat", sans-serif;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding-left: 10px;
    color: #333;
}

.auth-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.15rem;
    font-family: "Montserrat", sans-serif;
    color: #666;

}

.auth-input:focus {
    outline: none;
    border: 2px solid var(--color-accent);
}

.auth-bttn {
    background-color: var(--color-accent);
    border: 1px solid #ccc;

    color: white;
    /* cursor: pointer; */
}

.auth-bttn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #006fa8;
}