
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}

.table thead th {
  position: sticky;
  top: 0;
  
  z-index: 1;
}

.table > tbody > tr:nth-of-type(odd) {
  background-color: rgb(237 238 242);
}


.table-row:hover {
  background-color: #f9f9f9;
}
