.home {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.editor-container2 {
    width: 800px;
    height: 400px;
}

.tab-buttons {
    display: flex;

}

.tab-buttons button {
    padding: 10px;
    margin-right: 5px;
    background-color: #ebe5e5;

    cursor: pointer;
}

.tab-buttons button.active {
    background-color: #007bff;
    color: white;
}

.tab-content {
    margin-top: 20px;
    padding: 10px;
    /* border: 1px solid #ddd; */
    background-color: #fff;
    flex: 1;

}

.tree ul {
    padding-left: 20px;
    position: relative;
}

.tree ul::before {
    content: '';
    border-left: 2px solid #ccc;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.tree li {
    position: relative;
    padding-left: 20px;
}

.tree li::before {
    content: '';
    border-top: 2px solid #ccc;
    position: absolute;
    top: 10px;
    left: 0;
    width: 20px;
}

.node {
    padding: 5px 10px;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 5px;
}

.node.complete {
    background: #4caf50;
    color: white;
}

.node.in-progress {
    background: #ff9800;
    color: white;
}

.node.pending {
    background: #f1f1f1;
}


.progress-container {
    position: relative;
    background: #e0e0e0;
    border-radius: 8px;
    width: 100%;
    height: 20px;
    /* overflow: hidden; */
}

.progress-actual {
    background: #3b82f6;
    height: 100%;
    transition: width 0.3s ease;
    position: relative;
    border-radius: inherit;
}

.progress-actual::after {
    content: var(--progress-num);
    /* Or dynamic content with React if you use an inline span instead */
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #3b82f6;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    font-size: 12px;
}






.ta {
      font-family: "Montserrat", sans-serif;

    resize: none;
    padding: 0.5rem;
}