/* styles.css */
.app-container {
	/* width: 100%; */
	/* height: 100%; */
	/* margin: 40px auto; */
	font-family: Arial, sans-serif;
	/* height: auto; */
	/* box-shadow: 0px 3px 6px 4px rgba(0, 0, 0, 0.1); */
	border-radius: 8px;
	border: 1px solid #ddd;

}

.editor-container {
	padding: 10px;
	min-height: 100;
	margin-bottom: 20px;
	/* position: relative; */
}

.editor-wrapper {
	position: relative;
	/* 👈 This creates the positioning context */
}


.editor-input {
	/* background-color: red; */
	max-height: 100px;
	resize: none;
	font-size: 15px;
	caret-color: rgb(5, 5, 5);
	tab-size: 1;
	outline: 0;
	padding: 10px 10px;
	caret-color: #444;
	overflow-y: auto;
	/* No need for position: relative here anymore */
}

.editor-placeholder {
	color: #999;
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	top: 10px;
	/* adjust to match .editor-input padding */
	left: 10px;
	/* adjust to match .editor-input padding */
	font-size: 15px;
	user-select: none;
	display: inline-block;
	pointer-events: none;
}

.toolbar {
	display: flex;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.format--style,
.format--align {
	display: flex;
}

.format--style,
.format--align,
.format--special {
	display: flex;

	border-right: 1px solid #ddd;
	gap: 10px;
	padding: 2px 2px;
	;
}

.toolbar button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: inherit;
	width: 45px;
}

.toolbar button:hover {
	background-color: #999;
}

.submit-button {
	padding: 8px 16px;
	margin-bottom: 20px;
}

ul {
	list-style: disc inside;
}