*,
*::after,
*::before,
*:hover,
*:focus {

	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

body,
#root {
	background: linear-gradient(to bottom, #f9f9f9, #f7fafc);
	background-color: #f7fafc;
	display: flex;
	flex-direction: column;
}



.back-bttn {
	top: 5px;
	left: -25px;
	height: 25px;
	position: absolute;
	background-color: transparent;

}

.back-bttn:hover {

	background-color: #04344d;

}

main {
	padding-top: 5%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex: 1;



}

button {
	/* cursor: pointer; */
	border-style: none;
	transition: all 0.3s ease;
}