@use 'styles/colors.scss';
@use 'styles/index' as *; // or as theme;


*,
*::after,
*::before,
*:hover,
*:focus {
	box-sizing: border-box;
}


* {
	margin: 0;
	padding: 0;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

body,
#root {
	background-color: #f7fafc;
	display: flex;
	flex-direction: column;
}





main {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

button {
	cursor: pointer;
	border-style: none;
	transition: all 0.3s ease;
}